*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
body{
    padding-left: 15px;
    padding-right: 15px;
  
}
header{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    
}

.form-header{
    width: 40%;
    display: flex;
   
}


.form-header input {
    height: 40px;
    width: 80%;
   border-radius: 5px 0 0 5px;
    
}

.form-header button{
    padding: 12px;
    border-radius: 0 5px 5px 0;
}

.lista-icone{
    display: none;
}

.nav-header, .nav-header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.div-card{
    border: 1px solid gray;
    width: 25%;
    align-items: center;
    text-align: center;
    border-radius: 8px; 
  
}

.div-card img{
   width:80%;
   height: 180px;
  padding: 15px;
    position: relative;

    
    
}

.section-cards{
   gap: 20px;
   display: flex;


}

.tag-p{
    background-color: lightgreen;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
   

}

.div-img{
    position: relative;
    background-color: lightgray;
   
}

h2 > a{
    font-size: 12px;
}
.div-titulo h1{
    font-size: 16px;
}

.div-titulo button{
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.div-titulo{
    display: flex;
    justify-content: space-between;
}

.div-texto{
    padding: 10px;
}

.span-valor{
    font-size: 24px;
    font-weight: 600;
}