*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}



body{
    padding-left: 10px;
    padding-right: 10px;
  
}
header{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    
}

.form-header{
    width: 40%;
    display: flex;
   
}


.form-header input {
    height: 40px;
    width: 80%;
   border-radius: 5px 0 0 5px;
    
}

.form-header button{
    padding: 12px;
    border-radius: 0 5px 5px 0;
}

.lista-icone{
    display: none;
}

main{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.aside-filtro{
    position: sticky;
    top: 110px;
    height: fit-content;
}

.nav-header, .nav-header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.div-card{
    border: 1px solid gray;
    width: 300px;
    align-items: center;
    text-align: center;
    border-radius: 8px; 
  
}

.div-card img{
   width:80%;
   height: 270px;
  padding: 15px;
    position: relative;

    
    
}

.section-cards{
   gap: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;


}

.tag-p{
    background-color: lightgreen;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
   

}

.div-img{
    position: relative;
    background-color: lightgray;
   
}

h2 > a{
    font-size: 12px;
}
.div-titulo h1{
    font-size: 16px;
}

.div-titulo button{
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.div-titulo{
    display: flex;
    justify-content: space-between;
}

.div-texto{
    padding: 10px;
}

.span-valor{
    font-size: 24px;
    font-weight: 600;
}

footer{
    background-color: #242e56;
    color: #fff;
}

.nav-footer a{
    color: #fff;
}

.nav-footer{
    text-decoration: underline;
}

hr{
    border: 2px solid black;
    background-color: black;
}

@media screen and (width <= 998px) {
    header{
        flex-wrap: wrap;
    }

    .form-header{
        order: 2;
        width: 100%;
    }
    .form-header input{
        width: 120%;
    }

    .lista-icone {
        display:inline
    }

    .lista-links li {
        display: none;
    }
}